# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#deployment
/dist
/build

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
json_and_json-lock.zip
node_modules.zip
Employee.db
node_modules_2.rar
Employee1.db
